<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Forgot Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Forgot Account</h3>
        <form th:action="@{/doforgotpassword}" method="post" th:object="${account}">
            <h3 th:text="${token}"></h3>
            Enter Email:<br>
            <input type="text" name="email" th:field="*{email}"><br><br>
            <input type="submit" value="Send">
           
        </form>
    </body>
</html>
