<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Reset Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Reset Password</h2>
        <h3 th:text="${token}"></h3>
        <form th:action="@{/resetPassword}" th:object="${account}" method="post">
            Enter Email:<br>
            <input type="email" th:field="*{email}" readonly="true" size="30"><br><br>
            Enter Password:<br>
            <input type="password" th:field="*{password}" value="" size="30"><br><br>
            Enter Confirm Password:<br>
            <input type="text" th:name="cpassword" th:value="${token}" size="30"><br><br>
            <input type="hidden" name="username" th:value="${token}" size="30"><br><br>
            <input type="submit" value="Reset Password">
        </form>
    </body>
</html>
