<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Reset Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Reset Password</h2>
                    <h3 th:text="${token}" class="text-center"></h3>
                    <form th:action="@{/resetPassword}" th:object="${account}" method="post">
                        <div class="form-group">
                            <label for="email">Enter Email:</label>
                            <input type="email" id="email" name="email" class="form-control"
                                   th:field="*{email}" readonly="true" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Enter Password:</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   th:field="*{password}" required>
                        </div>
                        <div class="form-group">
                            <label for="cpassword">Enter Confirm Password:</label>
                            <input type="password" id="cpassword" name="cpassword" class="form-control"
                                   th:field="*{cpassword}" th:value="${token}" required>
                            <small class="form-text text-muted">This should match your new password.</small>
                        </div>
                        <input type="hidden" id="username" name="username" th:value="${token}">
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies (optional, if needed) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-Vkoo8x4CGsGXP6D9w8rsQv9Lf1KuO8HvJGNIpz2mtm3U6sFOnq0s1Gt4AVR3uAiz"
        crossorigin="anonymous"></script>
</body>
</html>