
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>My Rent</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
        <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">


        <link rel="stylesheet" th:href="@{/css/aos.css}">

        <link rel="stylesheet" th:href="@{/css/style.css}">
        <style>
            .site-block-top-search {
                display: flex;
                align-items: center;
            }
            .site-block-top-search .form-control {
                flex-grow: 1;
            }
            .rental {
                margin-bottom: 20px;
            }
            .pagination {
                justify-content: center;
            }
            .nav-links {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
        </style>
    </head>
    <body>

        <div class="site-wrap">
            <header class="site-navbar" role="banner">
                <div class="site-navbar-top">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                                <form th:action="@{/shopsearch}" class="site-block-top-search d-flex align-items-center">
                                    <span class="icon icon-search2 mr-2"></span>
                                    <input type="text" name="name" class="form-control border-0 mr-2" placeholder="Search...">
                                    <button type="submit" class="btn border-0"><i class="icon-search"></i></button>
                                </form>
                            </div>

                            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                                <div class="site-logo">
                                    <a th:href="@{/}" class="js-logo-clone">Sport Cycle</a>
                                </div>
                            </div>

                            <div class="col-6 col-md-4 order-3 text-right">
                                <div class="site-top-icons">
                                    <ul class="list-inline">
                                        <li class="list-inline-item" th:if="${session.user != null}">
                                            <p class="d-inline" style="font-family: cursive" th:text="${session.username}"></p>
                                        </li>
                                        <li class="list-inline-item" th:if="${session.user != null}">
                                            <p class="d-inline"></p>
                                        </li>
                                        <li class="list-inline-item" th:if="${session.user != null}">
                                            <a th:href="@{/logout}" class="d-inline logout"><u>LOGOUT</u></a>
                                        </li>
                                        <li class="list-inline-item" th:if="${session.user == null}">
                                            <a th:href="@{/login}" class="d-inline"><span class="icon icon-person"></span></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a th:href="@{/cart}" class="site-cart d-inline">
                                                <span class="icon icon-shopping_cart"></span>
                                                <span class="count" id="cartItemCount" th:text="${countcartItems}">2</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item d-md-none">
                                            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> 
                <nav class="site-navigation text-right text-md-center" role="navigation">
                    <div class="container">
                        <ul class="site-menu js-clone-nav d-none d-md-block">
                            <li>
                                <a th:href="@{/}">Home</a>
                                <!--                                <ul class="dropdown">
                                                                    <li><a href="#">Menu One</a></li>
                                                                    <li><a href="#">Menu Two</a></li>
                                                                    <li><a href="#">Menu Three</a></li>
                                                                    <li class="has-children">
                                                                        <a href="#">Sub Menu</a>
                                                                        <ul class="dropdown">
                                                                            <li><a href="#">Menu One</a></li>
                                                                            <li><a href="#">Menu Two</a></li>
                                                                            <li><a href="#">Menu Three</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>-->
                            </li>
                            <li >
                                <a th:href="@{/about}">About</a>
                                <!--                                <ul class="dropdown">
                                                                    <li><a href="#">Menu One</a></li>
                                                                    <li><a href="#">Menu Two</a></li>
                                                                    <li><a href="#">Menu Three</a></li>
                                                                </ul>-->
                            </li>
                            <li><a th:href="@{/shop}">Shop</a></li>
                            <li class="has-children active" th:if="${session.user != null}">
                                <a href="#">Rentals</a>
                                <ul class="dropdown">
                                    <li><a th:href="@{/rentals}">My Rentals</a></li>
                                    <li><a th:href="@{/forrent}">For Rent</a></li>
                                </ul>
                            </li>
                            <li th:if="${session.user != null}">
                                <a th:href="@{/informationLine}">Order History</a>
                            </li>
                            <li><a th:href="@{/contact}">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0"><a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Rentals</strong></div>
                    </div>
                </div>
            </div>  


            <div class="container">
                <h1 class="my-4">My Rentals</h1>

                <div th:if="${rentals.isEmpty()}">
                    <div class="alert alert-warning" role="alert">
                        No rentals found.
                    </div>
                </div>
                <div th:each="rental : ${rentals}"> 
                    <div th:if="${!rentals.isEmpty()}" class="card-header d-flex justify-content-between align-items-center" style="background-color: #7971ea; color: white;">
                        <h5 class="mb-0">RENTAL</h5>
                    </div>
                    <div class="rental card p-3" th:data-start-time="${rental.rental_start_date}" th:data-end-time="${rental.rental_end_date}" th:data-rental-id="${rental.bike_rental_id}">
                        <p><strong style="color: #000">Bicycle:</strong> <span th:text="${rental.item.name}"></span></p>
                        <p><strong style="color: #000">Rental Start Date:</strong> <span th:id="'start-time-' + ${rental.bike_rental_id}"></span></p>
                        <p><strong style="color: #000">Rental End Date:</strong> <span th:id="'end-time-' + ${rental.bike_rental_id}"></span></p>
                        <p><strong style="color: #000">Status:</strong> <span th:text="${rental.is_active ? 'Active' : 'Inactive'}" th:id="'status-' + ${rental.bike_rental_id}"></span></p>
                        <div th:if="${rental.is_active}">
                            <p><strong style="color: #000">Time Remaining:</strong> <span th:id="'countdown-' + ${rental.bike_rental_id}"></span></p>
                        </div>
                    </div>
                </div>
                
                <div>
                    <nav aria-label="Page navigation" th:with="math=${T(java.lang.Math)}" th:if="${totalPages > 1}">
                        <ul class="pagination justify-content-center">
                            <!-- Previous Button -->
                            <li class="page-item" th:classappend="${currentPage == 0} ? ' disabled'">
                                <a th:href="@{/rentals(pageNumber=0,pageSize=${pageSize})}" class="page-link">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? ' disabled'">
                                <a th:href="@{/rentals(pageNumber=${currentPage - 1},pageSize=${pageSize})}" class="page-link">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:class="${currentPage > 2} ? 'page-item' : 'd-none'">
                                <span class="page-link">...</span>
                            </li>
                            <th:block th:each="pageNumber : ${#numbers.sequence(math.max(0, currentPage - 2), math.min(totalPages - 1, currentPage + 2))}">
                                <li class="page-item" th:classappend="${pageNumber == currentPage} ? ' active'">
                                    <a th:href="@{/rentals(pageNumber=${pageNumber},pageSize=${pageSize})}" class="page-link" th:text="${pageNumber + 1}"></a>
                                </li>
                            </th:block>
                            <li th:class="${currentPage < totalPages - 3} ? 'page-item' : 'd-none'">
                                <span class="page-link">...</span>
                            </li>
                            <li class="page-item" th:classappend="${currentPage >= totalPages - 1} ? ' disabled'">
                                <a th:href="@{/rentals(pageNumber=${currentPage + 1},pageSize=${pageSize})}" class="page-link"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage >= totalPages - 1} ? ' disabled'">
                                <a th:href="@{/rentals(pageNumber=${totalPages - 1},pageSize=${pageSize})}" class="page-link"><span aria-hidden="true">&raquo;&raquo;</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>



            <footer class="site-footer border-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="block-5 mb-5">
                                <h3 class="footer-heading mb-4">Contact Info</h3>
                                <ul class="list-unstyled">
                                    <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                                    <li class="phone"><a >+2 392 3929 210</a></li>
                                    <li class="email">emailaddress@domain.com</li>
                                </ul>
                            </div>

                            <div class="block-7">
<!--                                <form action="#" method="post">
                                    <label for="email_subscribe" class="footer-heading">Subscribe</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                        <input type="submit" class="btn btn-sm btn-primary" value="Send">
                                    </div>
                                </form>-->
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5 mt-5 text-center">
                        <div class="col-md-12">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved 
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
        <script>
            function formatDate(dateStr) {
                const date = new Date(dateStr);
                const year = date.getFullYear();
                const month = ('0' + (date.getMonth() + 1)).slice(-2);
                const day = ('0' + date.getDate()).slice(-2);
                const hours = ('0' + date.getHours()).slice(-2);
                const minutes = ('0' + date.getMinutes()).slice(-2);
                const seconds = ('0' + date.getSeconds()).slice(-2);
                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            }

            function startCountdown(endTime, rentalId) {
                const end = new Date(endTime).getTime();
                const x = setInterval(function () {
                    const now = new Date().getTime();
                    const distance = end - now;
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById(`countdown-${rentalId}`).innerHTML = "Rental period is over.";
                        const xhr = new XMLHttpRequest();
                        xhr.open("POST", "/endRental", true);
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                console.log("Rental ended and stock updated");
                            }
                        };
                        xhr.send("rentalId=" + rentalId);
                    } else {
                        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        const seconds = Math.floor((distance % (1000 * 60)) / 1000);
                        document.getElementById(`countdown-${rentalId}`).innerHTML = `${hours}h ${minutes}m ${seconds}s`;
                    }
                }, 1000);
            }

            window.onload = function () {
                document.querySelectorAll('.rental').forEach(function (rental) {
                    const startTime = new Date(rental.dataset.startTime).getTime();
                    const endTime = rental.dataset.endTime;
                    const rentalId = rental.dataset.rentalId;
                    const now = new Date().getTime();

                    const endTimeFormatted = formatDate(endTime);
                    const startTimeFormatted = formatDate(rental.dataset.startTime);
                    document.getElementById(`start-time-${rentalId}`).innerText = startTimeFormatted;
                    document.getElementById(`end-time-${rentalId}`).innerText = endTimeFormatted;

                    // Only start the countdown if the rental period has started
                    if (now >= startTime) {
                        startCountdown(endTime, rentalId);
                    } else {
                        document.getElementById(`countdown-${rentalId}`).innerHTML = "Rental period has not started yet.";
                    }
                });
            }
        </script>
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/jquery-ui.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{/js/aos.js}"></script>

        <script th:src="@{/js/main.js}"></script>

    </body>
</html>
