<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            .sidebar {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                display: none;
            }

            .sidebar a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidebar a:hover {
                color: #f1f1f1;
            }

            .wrapper {
                margin-left: 10px;
            }

            .logout{
                float: right;
                margin-right: 5px;
            }
            .badge {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 5px 10px;
                border-radius: 50%;
                background-color: red;
                color: white;
            }

            @media screen and (max-height: 450px) {
                .sidebar {
                    padding-top: 15px;
                }
                .sidebar a {
                    font-size: 18px;
                }
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <button class="openbtn" onclick="toggleNav()" style="margin-bottom: 10px">&#9776;</button>
            <div id="mySidebar" class="sidebar">
                <a th:href="@{/indexAdminItems}">Items</a>
                <a th:href="@{/indexAdminItems}">Services</a>
                <a th:href="@{/indexAdminItems}">Clients</a>
                <a th:href="@{/indexAdminItems}">Contact</a>
            </div>
            <div class="content">
                <a th:href="@{/logout}" class="btn btn-primary mb-3 logout">Logout</a>


                <a th:href="@{/cart}" class="btn btn-primary mb-3">
                    <i class="bi bi-cart"></i>
                    <span class="badge" id="cartItemCount" th:text="${countcartItems}">0</span>
                </a>
                <h5>
                    <a th:href="@{/createAdminItems}" class="btn btn-success mb-3">Create New</a>
                </h5>
                <form th:action="@{/searchAdminItems}" method="get" class="mb-3" style="margin-right: 5px">
                    <div class="input-group">
                        <input type="text" name="name" class="form-control" placeholder="Search by name...">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <div id="messageArea" style="display: none"></div>
                <h3>List</h3>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#Id</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Type</th>
                            <th>Image</th>
                            <th>Created Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="f : ${list}">
                            <td th:text="${f.item_id}"></td>
                            <td th:text="${f.name}"></td>
                            <td th:text="${f.brand}"></td>
                            <td th:text="${f.description}"></td>
                            <td th:id="'price-' + ${f.item_id}" th:text="${f.price}"></td>
                            <td th:text="${f.stock}"></td>
                            <td th:text="${f.type}"></td>
                            <td><img th:src="@{'/images/'+${f.image}}" width="100" height="auto"/></td>
                            <td th:text="${f.created_dt}"></td>
                            <td>
                                <a th:href="@{/editAdminItems/{id}(id=${f.item_id})}" class="btn btn-info">Edit</a>
                                <form class="add-to-cart-form" th:data-item-id="${f.item_id}">
                                    <button type="button" class="btn btn-warning" onclick="addToCart(this)">Add to Cart</button>
                                </form>
                                <a th:href="@{/deleteAdminItems/{id}(id=${f.item_id})}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:with="math=${T(java.lang.Math)}" class="pagination" th:if="${name != null && totalPages > 1}">
                    <ul class="pagination justify-content-center">
                        <li th:classappend="${currentPage == 0} ? ' disabled'">
                            <a th:href="@{/searchAdminItems(name=${name},pageNumber=0,pageSize=${pageSize})}" class="page-link">First</a>
                        </li>
                        <li th:classappend="${currentPage == 0} ? ' disabled'">
                            <a th:href="@{/searchAdminItems(name=${name},pageNumber=${currentPage - 1},pageSize=${pageSize})}" class="page-link">Previous</a>
                        </li>
                        <li th:class="${currentPage > 5} ? 'page-item' : 'd-none'">
                            <span class="page-link">...</span>
                        </li>
                        <th:block th:each="pageNumber : ${#numbers.sequence(math.max(0, currentPage - 2), math.min(totalPages - 1, currentPage + 2))}">
                            <li th:classappend="${pageNumber == currentPage} ? ' active'">
                                <a th:href="@{/searchAdminItems(name=${name},pageNumber=${pageNumber},pageSize=${pageSize})}" class="page-link" th:text="${pageNumber + 1}"></a>
                            </li>
                        </th:block>
                        <li th:class="${currentPage < totalPages - 6} ? 'page-item' : 'd-none'">
                            <span class="page-link">...</span>
                        </li>
                        <li th:classappend="${currentPage >= totalPages - 1} ? ' disabled'">
                            <a th:href="@{/searchAdminItems(name=${name},pageNumber=${currentPage + 1},pageSize=${pageSize})}" class="page-link">Next</a>
                        </li>
                        <li th:classappend="${currentPage >= totalPages - 1} ? ' disabled'">
                            <a th:href="@{/searchAdminItems(name=${name},pageNumber=${totalPages - 1},pageSize=${pageSize})}" class="page-link">Last</a>
                        </li>
                    </ul>
                </div>
                <div th:with="math=${T(java.lang.Math)}" class="pagination" th:if="${name == null && totalPages > 1}">
                    <ul class="pagination justify-content-center">
                        <li th:classappend="${currentPage == 0} ? ' disabled'">
                            <a th:href="@{/indexAdminItems(pageNumber=0,pageSize=${pageSize})}" class="page-link">First</a>
                        </li>
                        <li th:classappend="${currentPage == 0} ? ' disabled'">
                            <a th:href="@{/indexAdminItems(pageNumber=${currentPage - 1},pageSize=${pageSize})}" class="page-link">Previous</a>
                        </li>
                        <li th:class="${currentPage > 5} ? 'page-item' : 'd-none'">
                            <span class="page-link">...</span>
                        </li>
                        <th:block th:each="pageNumber : ${#numbers.sequence(math.max(0, currentPage - 2), math.min(totalPages - 1, currentPage + 2))}">
                            <li th:classappend="${pageNumber == currentPage} ? ' active'">
                                <a th:href="@{/indexAdminItems(pageNumber=${pageNumber},pageSize=${pageSize})}" class="page-link" th:text="${pageNumber + 1}"></a>
                            </li>
                        </th:block>
                        <li th:class="${currentPage < totalPages - 6} ? 'page-item' : 'd-none'">
                            <span class="page-link">...</span>
                        </li>
                        <li th:classappend="${currentPage >= totalPages - 1} ? ' disabled'">
                            <a th:href="@{/indexAdminItems(pageNumber=${currentPage + 1},pageSize=${pageSize})}" class="page-link">Next</a>
                        </li>
                        <li th:classappend="${currentPage >= totalPages - 1} ? ' disabled'">
                            <a th:href="@{/indexAdminItems(pageNumber=${totalPages - 1},pageSize=${pageSize})}" class="page-link">Last</a>
                        </li>
                    </ul>
                </div>



            </div>
        </div>
        <script>
            function toggleNav() {
                const sidebar = document.getElementById("mySidebar");
                const wrapper = document.querySelector(".wrapper");
                if (sidebar.style.width === "250px") {
                    sidebar.style.width = "0";
                    sidebar.style.display = "none";
                    wrapper.style.marginLeft = "10px";
                } else {
                    sidebar.style.display = "block";
                    sidebar.style.width = "250px";
                    wrapper.style.marginLeft = "250px";
                }
            }
            var messageArea = document.getElementById("messageArea");

            function addToCart(button) {
                var form = button.closest('form');  // Find the closest form ancestor
                var itemId = form.getAttribute("data-item-id");  // Retrieve the item ID from the data attribute

                console.log("Retrieved item ID:", itemId);  // Debug log to check the retrieved item ID

                // Check if itemId is NaN or empty
                if (!itemId || isNaN(itemId)) {
                    alert("Invalid item ID");
                    return;
                }

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/addToCart/" + encodeURIComponent(itemId), true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // Parse the response to get the new cart item count
                        var newCount = parseInt(xhr.responseText);
                        // Update the cart item count in the UI
                        document.getElementById("cartItemCount").innerText = newCount;

                        // Display a success message
                        messageArea.innerText = "Item added to cart successfully!";
                        messageArea.style.position = "fixed";
                        messageArea.style.bottom = "20px";
                        messageArea.style.right = "20px";
                        messageArea.style.backgroundColor = "#28a745"; // Green background
                        messageArea.style.color = "#fff"; // White text
                        messageArea.style.padding = "10px";
                        messageArea.style.borderRadius = "5px";
                        messageArea.style.zIndex = "1000";
                        messageArea.style.display = "block";

                        // Hide the message after 3 seconds
                        setTimeout(function () {
                            messageArea.style.display = "none";
                            messageArea.innerText = "";
                        }, 3000);  // 3000 milliseconds = 3 seconds
                    }
                };

                xhr.send();
            }
        </script>
        <script>
            function formatScientificNotation() {
                let priceElements = document.querySelectorAll('[id^="price-"]');
                priceElements.forEach(element => {
                    let scientificNotation = element.innerText;
                    if (scientificNotation !== null && scientificNotation !== '') {
                        let decimalNumber = Number(scientificNotation);
                        if (!isNaN(decimalNumber)) {
                            element.innerText = decimalNumber;
                        }
                    }
                });
            }
            window.onload = formatScientificNotation;
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
